@import "tailwindcss";

@font-face {
    font-family: 'PP Pangram Sans Rounded';
    ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
    src: url('/webfonts/PPPangramSansRounded-Medium.woff2') format('woff2'),
        url('/webfonts/PPPangramSansRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded';
    ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
    src: url('/webfonts/PPPangramSansRounded-Light.woff2') format('woff2'),
        url('/webfonts/PPPangramSansRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded';
    ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
    src: url('/webfonts/PPPangramSansRounded-Bold.woff2') format('woff2'),
        url('/webfonts/PPPangramSansRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('/webfonts/PPEiko-LightItalic.woff2') format('woff2'),
        url('/webfonts/PPEiko-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('/webfonts/PPEiko-Medium.woff2') format('woff2'),
        url('/webfonts/PPEiko-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('/webfonts/PPEiko-Thin.woff2') format('woff2'),
        url('/webfonts/PPEiko-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}



:root {
  --background: #000;
  --foreground: #ffffff;
  --pp-orange: #FFAA00;
  --font-eiko: 'PP Eiko', serif;
  --font-pp: 'PP Pangram Sans Rounded', Helvetica, Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --max-w-9xl: 104rem;
  --max-w-8xl: 96rem;
  --pinpoynt-transition: all 0.3s ease-in-out;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pp), Arial, Helvetica, sans-serif;
}

.max-w-9xl {
  max-width: var(--max-w-9xl);
}

.max-w-8xl {
  max-width: var(--max-w-8xl);
}

.pinpoynt-transition {
  transition: var(--pinpoynt-transition);
}

.line {
  display: block;
  overflow: hidden;
  min-height: 1em;
}

.font-serif {
  font-family: var(--font-eiko) !important;
}

@layer utilities {
  .nth-odd\:items-end {
    &:nth-of-type(odd) {
      @apply items-end;
    }
  }
  
  .nth-odd\:flex-col-reverse {
    &:nth-of-type(odd) {
      @apply flex-col-reverse;
    }
  }

  .nth-odd\:flex-row {
    &:nth-of-type(odd) {
      @apply flex-row;
    }
  }

  .nth-odd\:flex-col {
    &:nth-of-type(odd) {
      @apply flex-col;
    }
  }

  .nth-odd\:flex-row-reverse {
    &:nth-of-type(odd) {
      @apply flex-row-reverse;
    }
  }

  .radial-gradient {
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(102, 131, 204, 1) 58%, rgba(0, 0, 0, 1) 100%);
  }
}