@font-face {
    font-family: 'PP Pangram Sans Rounded';
    src: url('PPPangramSansRounded-Medium.woff2') format('woff2'),
        url('PPPangramSansRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded';
    src: url('PPPangramSansRounded-Light.woff2') format('woff2'),
        url('PPPangramSansRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Narrow';
    src: url('PPPangramSansRounded-Bold.woff2') format('woff2'),
        url('PPPangramSansRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('PPEiko-LightItalic.woff2') format('woff2'),
        url('PPEiko-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('PPEiko-Medium.woff2') format('woff2'),
        url('PPEiko-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('PPEiko-Thin.woff2') format('woff2'),
        url('PPEiko-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

